{% extends 'template.html.twig' %}

{% block page %}
    <div class="about">
        <section class="presentation">
            <h2>Présentation du service</h2>
            <p>
                Bienvenue sur le site de réservation du département MMI de l'IUT de Belfort-Montbéliard !
            </p>
            <p>
                Vous pourrez ici réserver tout le matériel qu'il vous faut pour réaliser vos différents projets audiovisuels.
            </p>
            <P>
                Chaque matériel est accompagné de photos qui aident à l'identifier, de ses caractéristiques principales
                ainsi que des accessoires nécessaires (piles, batteries, cables, etc), et d'un manuel d'utilisation au
                format PDF.
            </P>
            <p>
                Nous vous remercions de bien vouloir prendre connaissance des conditions d'emprunts suivantes avant toute
                réservation.
            </p>
        </section>
        <section class="Description" id="CGU">
            <h2>Règles relatives à l'emprunt</h2>
            <p>
                La réservation de matériel audiovisuel est <strong>exclusivement réservée aux étudiants du département MMI de
                l'IUT de Belfort-Montbéliard</strong>
            </p>
            <div>
                <p>
                    A chaque emprunt se verra associée une caution, dont le montant pourra varier selon le matériel emprunté,
                    et qui vous sera indiqué lors de l'envoie de votre demande :
                </p>
                <ul>
                    <li>Pour tout emprunt <strong>d'une valeur inférieure à 100€ : 75€</strong></li>
                    <li>Pour tout emprunt <strong>d'une valeur comprise entre 100 et 300€ : 150€</strong></li>
                    <li>Pour tout emprunt <strong>d'une valeur d'une valeur supérieure à 300€ : 300€</strong></li>
                </ul>
            </div>
            <p>
                Vous devez impérativement rendre le matériel emprunté <strong>sous une durée de trois jours.</strong>
            </p>
            <p>
                Une fois que vous aurez reçu le mail confirmant votre réservation, il vous faudra aller voir Mr. Augier
                afin de remettre votre caution et de récupérer le matériel.
            </p>
            <p>
                Tout matériel remis avec <strong>moins de 2 jours de retard</strong> pourra entrainer l'impossibilité de réserver pendant
                une durée indéterminée. L'établissement se réserve le droit de conserver votre chèque de caution pour tout
                <strong>retard suplémentaire à cette limite</strong>.
            </p>
            <p>
                <strong>Si tout ou une partie du matériel n'est pas rendue, ou si celui-ci est rendu endommagé, l'établissement se
                réserve le droit d'encaisser votre caution.</strong>
            </p>
            <p>
                Le matériel pourra être rendu directement à Mr. Augier, ou bien au secrétariat si ce dernier n'est pas
                présent.
            </p>
        </section>
    </div>
{% endblock %}


<div class="bold">
    <div id="test">
        <span class="truc"></span>
        <div class="p test"><a href="" "href="www""></a></div>
    </div>
    <div id="test">
        <span class="truc"></span>
        <div class="p test"><a href="" "href="www""></a></div>
    </div>
    <div id="test">
        <span class="truc"></span>
        <div class="p test"><a href="" "href="www""></a></div>
    </div>
    <div id="test">
        <span class="truc"></span>
        <div class="p test"><a href="www"></a></div>
    </div>
</div>

<a href="" class="test"></a>