{% extends 'template.html.twig' %}

{% block page %}
    <section class="head light">
        <div class="BGcolor">
            <h2 class="head-title">Éclairage</h2>
        </div>
    </section>
    <section class="main-content liste-materiel">
        <div class="liste-elm">
            {% for materiel in listeMateriel %}
                <div class="elm">
                    <div class="img-container">
                        <img src="src/img/{{ materiel.IMAGE }}" alt="" class="elm-pic">
                    </div>
                    <span class="elm-name">{{ materiel.NOM }}</span>
                    <a href="index.php?page=materiel&id={{ materiel.id }}" class="btn btn-materiel" data-content="Réserver">Réserver</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}