{% extends 'template.html.twig' %}

{% block page %}
    <div class="pageMateriel">
        <a href="index.html" class="btn retourListe large" data-content="Revenir à la liste du matériel">Revenir à la liste du matériel</a>
        {% for materiel in listeMateriel %}
            <section class="materiel">
                <section class="sup">
                    <div class="right">
                        <h2>{{ materiel.NOM }}</h2>
                        <a href="#" class="btn green" id="resa" data-content="Réserver">Réserver</a>
                        <a target="_blank" href="src/pdf/{{ materiel.PDF }}" class="btn white" id="manuel" data-content="Manuel d'utilisation">Manuel d'utilisation</a>
                    </div>
                    <div class="left">
                        <div class="carousel" id="wrapper">
                            <div class="listeImg" id="carousel">
                                <img src="src/img/lumix.JPG"><!--
                                --><img src="src/img/lumix2.JPG">
                            </div>
                        </div>

                    </div>
                </section>
                <section class="bas">
                    <span class="caution">Caution : 300€</span>
                    <a href="about.html" class="btn CGU" data-content="Conditions d'utilisation">Conditions d'utilisation</a>
                    <p class="desc"> {{ materiel.DESC }}</p>
                    <ul class="caracteristiques">
                        <li>Capteur full frame de 22,3 millions de pixels</li>
                        <li>61 collimateurs AF</li>
                        <li>Prise de vue en continu à 6 im./s</li>
                        <li>Sensibilité de 100 à 25.600 ISO. Possibilité d'extension jusqu'à 102.400 ISO</li>
                        <li>Vidéos Full HD avec contrôle manuel</li>
                        <li>Sortie HDMI sans compression en Full HD 8 bits 4.2.2</li>
                        <li>Processeur DIGIC 5+ 14 bits</li>
                        <li>Boîtier résistant à la poussière et à l'humidité.</li>
                        <li>Écran 8,11 cm (3,2 pouces), 1.040.000 points</li>
                        <li>Mode HDR</li>
                    </ul>
                </section>
            </section>
        {% endfor %}
    </div>
{% endblock %}