{% extends 'template.html.twig' %}

{% block page %}
    <section class="head photo">
        <div class="BGcolor">
            <h2 class="head-title">Photos</h2>
        </div>
    </section>
    <section class="main-content liste-materiel">
        <div class="liste-elm">
            {% for photo in photos %}
                <div class="elm">
                    <div class="img-container">
                        <img src="{{ photo.IMAGE }}" alt="" class="elm-pic">
                    </div>
                    <span class="elm-name">{{ photo.NOM }}</span>
                    <a href="index.php?page=materiel&id={{ photo.ID }}" class="btn btn-materiel" data-content="Réserver">Réserver</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}