{% extends 'template.html.twig' %}

{% block page %}
    <div id="calendar">
        <!-- Calendrier JS, les données seront passées en JSON -->
    </div>
    <div id="message">
    	<!-- message d'erreur -->
    </div>
{% endblock %}