{% extends 'template.html.twig' %}

{% block page %}
    <section class="head room">
        <div class="BGcolor">
            <h2 class="head-title">Salles</h2>
        </div>
    </section>
    <section class="main-content liste-materiel">
        <div class="liste-elm">
            {% for salle in salles %}
                <div class="elm">
                    <div class="img-container">
                        <img src="{{ salle.IMAGE }}" alt="" class="elm-pic">
                    </div>
                    <span class="elm-name">{{ salle.NOM }}</span>
                    <a href="index.php?page=materiel&id={{ salle.ID }}" class="btn btn-materiel" data-content="Réserver">Réserver</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}