<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Réservation de matériel - MMI Montbéliard</title>
    <link rel="stylesheet" href="src/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="src/e-calendar/css/jquery.e-calendar.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="src/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="src/e-calendar/js/jquery.e-calendar.js"></script>
    <link rel="icon" href="src/img/favicon.png">
</head>
<body>
<header>
    <div class="container">
        <h1 class="hidden-mobile">MMI Montbéliard</h1>
        <nav>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul>
                <li><a href="index.php">Catalogue</a></li><!--
                --><li><a href="index.php?page=planning">Planning</a></li><!--
                --><li><a href="index.php?page=about">A propos</a></li>
            </ul>
        </nav>
        <div class="user">
            <form action="" class="sub-nav-elm search">
                <input type="text" id="search" class="search-input">
                <label for="search" class="search-icon"><i class="fa fa-search"></i></label>
            </form><!--
            --><button class="sub-nav-elm cart"><i class="fa fa-shopping-cart"></i></button><!--
            --><img src="src/img/user-pic.jpg" alt="" class="sub-nav-elm user-picture hidden-mobile" /><!--
            --><span class="sub-nav-elm user-name hidden-mobile">Cyril Michaud</span>
        </div>
    </div>
</header>
<main>

    {% block page %}
    {% endblock %}

    <section class="panier">
        <div class="container">
            <span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="title">
                <h2>Votre Panier</h2>
            </div>
            <div class="content">
                <p class="default">
                    Votre panier est vide.
                </p>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="contacts">
            <span class="mail">
                <a href="mailto:sebastien.augier@univ-fcomte.fr">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="desktop lg">sebastien.augier@univ-fcomte.fr</span>
                </a>
            </span>

            <span class="tel">
                <a href="tel:+33381994734">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="desktop lg">+33 (0)3 81 99 47 3</span>
                </a>
            </span>
        </div>

        <span class="legacy">Département MMI Montbéliard<span class="desktop"> - Tous droits réservés</span></span>
    </div>
</footer>
<script type="text/javascript" src="src/js/main.js"></script>
</body>
</html>