{% extends 'template.html.twig' %}

{% block page %}
    <section class="head video">
        <div class="BGcolor">
            <h2 class="head-title">Vidéo</h2>
        </div>
    </section>
    <section class="main-content liste-materiel">
        <div class="liste-elm">
            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel disabled" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel disabled" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

            <div class="elm">
                <div class="img-container">
                    <img src="src/img/lumix.JPG" alt="" class="elm-pic">
                </div>
                <span class="elm-name">Canon EOS 5D</span>
                <a href="materiel.html" class="btn btn-materiel" data-content="Réserver">Réserver</a>
            </div>

        </div>
    </section>
{% endblock %}